.container {
    display: flex;
    flex-direction: column;
}

.playerTurn, .announcer{
    text-align: center;
    font-weight: 800;
}

.gameboard {
    display: grid;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;

}

button {
    background-color: white;
    font-size: 30px;
}

.restartbtn {
    margin: 10px;
    align-self: center;
}

li {
    list-style: none;
}

input {
    border-radius: 20px;
    border-color: rgb(214, 214, 214);
}

fieldset:first-child:hover{
    color: rgb(0, 110, 255);
}

fieldset:last-child:hover{
    color: rgb(255, 103, 97);
}

fieldset {
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
}