.container {
    display: flex;
    flex-direction: column;

}

.gameboard {
    align-self: center;
    display: grid;
}

.cellRow {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
}

.cellCol {
    font-size: 40px;
    background-color: rgb(255, 255, 255);
}

.cellCol:hover {
    background-color: rgb(204, 204, 204);
}

.playerTurn {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.announcer {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.startBtn {
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 5px;
    width: max-content;
    align-self: center;
}

.startBtn:hover {
    background-color: rgb(202, 202, 202);
}

fieldset {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

fieldset {
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}

fieldset:first-child:hover {
    color: rgb(128, 126, 255);
}

fieldset:nth-child(2):hover {
    color: rgb(255, 77, 77);
}

li {
    list-style: none;
}

input {
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(145, 145, 145);
    width: 230px;
}

.restartBtn {
    margin: 20px;
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: max-content;
}